In [1]:
import akshare as ak

In [2]:
stock_info_a_code_name_df = ak.stock_info_a_code_name()
stock_info_a_code_name_df

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.60it/s]

        code   name
0     000001   平安银行
1     000002  万  科Ａ
2     000004   国华网安
3     000005   ST星源
4     000006   深振业Ａ
...      ...    ...
4770  871553   凯腾精工
4771  871642   通易航天
4772  871857   泓禧科技
4773  871981   晶赛科技
4774  872925   锦好医疗

[4775 rows x 2 columns]