In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)
df

        one       two     three
a -0.263374 -1.752774       NaN
b  1.730708  0.057564  0.232157
c  0.916928  0.127636  2.180408
d       NaN  0.178616 -0.703922

In [5]:
column = df["two"]
row = df.iloc[1]

In [6]:
dfmi = df.copy()

dfmi.index = pd.MultiIndex.from_tuples(
    [(1, "a"), (1, "b"), (1, "c"), (2, "a")], names=["first", "second"]
)

dfmi

                   one       two     three
first second
1     a      -0.263374 -1.752774       NaN
      b       1.730708  0.057564  0.232157
      c       0.916928  0.127636  2.180408
2     a            NaN  0.178616 -0.703922

In [7]:
column

a   -1.752774
b    0.057564
c    0.127636
d    0.178616
Name: two, dtype: float64

In [10]:
dfmi.sub(column, axis=0, level="second")

                   one      two     three
first second
1     a       1.489400  0.00000       NaN
      b       1.673144  0.00000  0.174594
      c       0.789292  0.00000  2.052772
2     a            NaN  1.93139  1.048852

In [11]:
df > 0

     one    two  three
a  False  False  False
b   True   True   True
c   True   True   True
d  False   True  False

In [12]:
(df > 0).all()

one      False
two      False
three    False
dtype: bool

In [13]:
df.empty

False